.champions {
    /* background-image: url(https://universe.leagueoflegends.com/images/latestBg_Wallpaper.png);
    border-top: 8px solid transparent;
    background-attachment: fixed; */
    width: auto;
    height: calc(100vh);
} 