#champions-pg {
    background-color: white;
    width: auto;
}

.card {
    width: 100%;
    margin: 1.5em 5%;
    display: table;
}

.champion-img {
    width: 85%;
}

.champions {
    display: flex;
    flex-flow: wrap;
    color: #261F27;
}

main, nav {
    overflow: hidden;
    background-color: #23231A;
}

.nav-area {
    display: block;
    padding: 5%;
}

label {
    display: block;
    text-align: left;
    margin-left: 10%;
}

aside input {
    width: 100px;
}

@media screen and (min-width:450px) {
    .card {
        width: 25%;
        margin: 0.5em;
    }
    .champion-img {
        width: 100%;
    }
    .champions {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .aside {
        float: left;
        height: 100vh;
        width: 25%;
        background-color: #34322E;
        color: #DADDD8;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        position: relative;
        top:105px;
        left: 0px;
    }
    .champions {
        top: 110px;
        font-weight: bold;
        font-size: 25px;
        margin: 0;
        padding: 2%;
        overflow: scroll;
        height: 68vh;
    }
    .title {
        font-size: 55px;
        text-align: center;
        font-weight: bold;
        color: whitesmoke;
        margin-top: 2em;
        margin-bottom: 0.3em;
        color:#261F27;
    }
    .navbar-inverse {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        background-color: #222;
        border-color: #080808;
        font-size: 25px;
        color: rgb(219, 207, 207);
        position: fixed;
        top:55px;
        height: 50px;
        padding: 0.3em;
        z-index:100;
    }
}

@media screen and (min-width:1024px) {
    .card {
        width: 20%;
        margin: 0.5em;
    }
}