.champion-info-img{
    width: 80%;
}
.data-champ{
    align-content: center;
    text-align: center;
    padding-bottom:2em;
}
.info-champions{
    color: #2A2A29;
}
.info-stats{
    display:block;
}

@media screen and (min-width:1024px){
    .champion-info-img{
    width: 40%;
    float: left;
    }
}