* {
  margin: 0%;
  padding: 0%;
  text-align: center;
  box-sizing: border-box;
  font-family: arial;
}

.hide {
  display: none;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}

.champions {
  font-weight: bold;
  color: rgb(240, 235, 235);
  font-size: 25px;
  margin: 0;
  padding: 2%;
  overflow: scroll;
  height: calc(75vh);
}

.name-card {
  color: #937341;
  background-color: #DADDD8;
}

.champion-name {
  font-size: 30px;
  font-family: 'Quattrocento', serif;
}

.champion-mp {
  font-size: 15px;
  font-family: 'Quattrocento', serif;
}

.card {
  width: 30%;
  display: inline-block;
  padding: 2%;
}

.navbar {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  background-color: #222;
  border-color: #080808;
  font-size: 25px;
  color: whitesmoke;
  height: 65px;
  position: fixed;
}

.navbar-inverse {
  background-color: black;
  position: sticky;
  height: 50px;
  padding: 0.5em;
}

.navbar li {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  list-style: none;
}

.total-screen {
  height: calc(100vh);
  align-items: center;
  padding-top: 4%;
}

main {
  overflow: hidden;
  background-color: #23231A;
}

.nav-area {
  display: block;
  padding: 5%;
}

.aside {
  float: left;
  height: calc(100vh);
  width: 25%;
  padding: 1%;
  background-color: #1C1C1C;
  color: #DADDD8;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  position: static;
}

.btn-nav {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btn-nav:focus {
  outline: 0;
}

.head-nav {
  padding: 0.5em;
}

.champion-img {
  width: 100%;
}

.number {
  width: 50px;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
}

.center-content {
  padding-top: 10%;
  text-align: center;
  align-content: center;
  align-items: center;
  box-align: center;
}

.intro-text {
  color: whitesmoke;
  font-weight: bold;
  margin: 5%;
}

.bg-img {
  background-image: url("https://universe.leagueoflegends.com/images/latestBg_Wallpaper.png");
  border-top: 8px solid transparent;
  border-image: linear-gradient(to right, #836323 0, #c3a568 51%, #836323 100%);
  border-image-slice: 2;
}

.champ-img {
  width: 30%;
}

.info-champions {
  color: white;
  font-size: 25px;
  display: inline-block;
  width: 50%;
}