.nav-bar {
  position: relative;
  top: 0;
  flex-flow: wrap;
  background-color: #011627;
  border-color: #2A2A29;
  font-size: 25px;
  color: whitesmoke;
  z-index: 100;
  justify-content: center;
}

.nav-main, .nav-menu li {
  background-color: #011627;
  border-bottom: 1px solid rgba(255, 255, 255, 0.466);
  text-align: center;
  cursor: pointer;
}

.nav-menu li:hover {
  background: rgba(19, 18, 18, 0.637);
}

.logo-nav {
  width: 22px;
  margin: 3px 5px;
  float: left;
}

h1 {
  height: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: rgba(214, 173, 9, 0.815);
  text-shadow: #222;
}

.nav-menu, .nav-main {
  float: right;
  display: block;
  width: 100%;
}

ul li {
  padding: 0.5em;
  list-style: none;
  height: 55px;
}

.btn-nav {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btn-nav:focus {
  outline: 0;
}

@media screen and (min-width:630px) {
  .nav-main, .nav-menu {
    width: 42%;
  }
  .nav-main {
    float: left;
    text-align: left;
    margin-left: 15px;
  }
  .nav-main, .nav-menu li {
    border-bottom: transparent
  }
  .nav-bar {
    width: 100%;
    position: fixed;
  }
  ul {
    float: right;
  }
  ul li {
    padding: 0.2em;
    margin: 0 7px;
    display: inline-block;
  }
  .btn-nav {
    font-size: 15px;
  }
}