@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,800i');
@import url(menu-bar.css);
@import url(welcome-page.css);
@import url(champions-page.css);
@import url(champions-info.css);
/* img escudo https://universe.leagueoflegends.com/esimages/content_type_icon_champion__3nwJQ.png */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.hide {
  display: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
  width: 100%;
  margin: auto;
}

section h2 {
  text-align: center;
  margin: 1em;
  color: #011627;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #2A2A29;
  color: white;
  border-top: 1px solid rgba(245, 245, 245, 0.397);
}