video {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  overflow: hidden;
  height: 100%;
  /* z-index: -10; */
  visibility: visible;
  display: none;
  opacity: 1;
}
.tut-pg{
  height: 100vh;
}
.btn-init{
background-color: #E71D36 !important;
box-shadow: 0 6px rgba(231, 29, 53, 0.657);
border-radius: 30px;
font-size: 24px;
color: #ffffff !important;
padding: 27px 20px 20px 20px!important;
position: relative;
font-family: BeaufortW01-Bold;
text-decoration: none;
border: none;
display: inline-block;
white-space: nowrap;
}
.logo-img {
  width: 60%;
}

#welcome-pg {
  background-image: url(https://image.redbull.com/rbcom/010/2017-01-03/1331837749223_2/0100/0/1/la-historia-de-los-campos-de-la-jusitica.JPG);
  position: relative;
  /* top: 220px; */
  height: 100vh;
  width: auto;
  padding:0
}
.welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.center-content {
  padding-top: 20%;
  text-align: center;
  align-content: space-between;
}

.intro-margin {
  margin: 10% 0;
  color: white;
  font-weight: bold;
}

/* .bg-img {
  background-image: url("https://as01.epimg.net/esports/imagenes/2017/09/15/league_of_legends/1505467062_692763_1505472317_noticia_normal.jpg");
  border-top: 8px solid transparent;
  border-image: linear-gradient(to right, #836323 0, #c3a568 51%, #836323 100%);
  border-image-slice: 2;
  position: absolute;
  height: 100vh;
} */

@media screen and (min-width:320px) {
  #welcome-pg{
    top:0;
  }
}

@media screen and (min-width:470px) {
  .center-content {
    padding-top: 8%;
    text-align: center;
    align-content: space-between;
  }
  .video-tut .btn-init {
    text-align: center;
  }
}

@media screen and (min-width: 630px) {
  .center-content {
    padding-top: 13%;
  }
  .logo-img {
    width: 50%;
  }
  #welcome-pg {
  top:55px;
  max-height:100%;
  }
  iframe{
    width: 60%;
    height: 50%;
    float: left;
    position: relative;
    left:25px;
  }
  #btn-tut{
    display:inline-block;
    position: relative;
    top: 280px;
  }
}

@media screen and (min-width: 720px) {
  .center-content {
    padding-top: 5%;
  }
  .logo-img {
    width: 80%;
  }
  #welcome-pg {
    top: 50%;
    height: calc(100vh);
    background-image: none;
  }
  video {
    display: block;
    height:auto
    /* width:100% */
  }
  #btn-tut{
    top: 150px;
  }
}

@media screen and (min-width: 900px) {
  video {
    /* display: block;
    width:100%;
    overflow: hidden; */
    position:relative;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    min-height: 500px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden
    /* height: 100vh; */
  }
  
  .intro-margin {
    margin: 5% 0;
  }
}

@media screen and (min-width: 1024px) {
  .bg-img{
    top: 500px;
  }
}

