video {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  overflow: hidden;
  height: 100%;
  visibility: visible;
  display: none;
  opacity: 1;
}

.video-tut {
  margin-bottom: 2em;
}

.tut-pg {
  height: 70vh;
  text-align: center;
}

.btn-init {
  background-color: #E71D36;
  box-shadow: 0 6px rgba(231, 29, 53, 0.657);
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff ;
  padding: 20px;
  position: relative;
  text-decoration: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
}

.logo-img {
  width: 100%;
}

#welcome-pg {
  background-image: url(https://image.redbull.com/rbcom/010/2017-01-03/1331837749223_2/0100/0/1/la-historia-de-los-campos-de-la-jusitica.JPG);
  position: relative;
  top: 0;
  height: 85vh;
  width: auto;
  padding: 0
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 0 15px
}

.center-content {
  padding-top: 20%;
  text-align: center;
  align-content: space-between;
}

.intro-margin {
  margin: 10% 0;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .center-content {
    padding-top: 10%;
  }
  .logo-img {
    width: 60%;
  }
  #welcome-pg {
    height: 80vh;
  }
  .welcome-text {
    font-size: 20px;
  }
  .video-tut {
    width: 80%;
    height: 70%;
    position: relative;
    left: 25px;
    margin: 3%;
  }
  #btn-tut {
    position: relative;
    top: 0;
    margin-bottom: 5%;
  }
  .intro-margin {
    margin-top: 3%;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .center-content {
    padding-top: 0;
  }
  .welcome-text {
    top: 40%;
  }
  #welcome-pg {
    top: 50%;
    height: 80vh;
    background-image: none;
    overflow: hidden;
    /*Sirve para no mostrar img demàs del contenido del section*/
  }
  .tut-pg{
    height: 65vh;
  }
  video {
    position: relative;
    display: block;
    height: auto;
    top: 55px;
    width: 100%;
  }
  .video-tut {
    height: 60%;
    width: 55%;
    float: left;
    margin-right: 8%;
  }
  #btn-tut {
    display: inline-block;
    margin-top: 15%;
  }
  .btn-init {
    font-size: 20px;
  }
  .intro-margin {
    margin: 5% 0;
  }
  .logo-img {
    width: 45%;
  }
}

@media screen and (min-width: 1250px) {
  .center-content {
    padding-top: 0;
  }
  .logo-img {
    width: 30%;
  }
  #btn-tut {
    top: 10%;
  }
  .tut-pg {
    height: 80vh;
  }
  .welcome-text {
    top: 50%;
    font-size: 25px;
  }
  #welcome-pg{
    height: 100vh;
  }
}

@media screen and (min-width: 1440px) {
  .welcome-text {
    height: 50%;
  }
  .logo-img {
    width: 40%;
  }
  video {
    display: flex;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden
  }
  .intro-margin {
    margin: 5% 0;
  }
}