*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    box-sizing: border-box;
}
body{
  background: url(http://s1.picswalls.com/wallpapers/2015/11/21/league-of-legends-high-definition_111244104_289.jpg);
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
.function{
font-size: 20px; 
text-align:center;
font-style: italic;
color: brown;
}
.title{
font-size: 50px; 
text-align:center;
font-style: italic;
font-weight: bold;
color: aliceblue;
}
.champions{
    font-weight: bold;
    color: rgb(240, 235, 235);
    font-size: 25px;
}
.card{
  width: 20%;
  display: inline-block
}
.navbar{
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-flow: row wrap;
  background-color:#222;
  border-color:#080808;
  font-size: 25px;
  color:whitesmoke;
  height: 55px;
  position: fixed;
}
.navbar-inverse{
  background-color: black;
  position: relative;

}
.navbar ul li{
  display: inline-block;
  padding: 0.5em;
}
 .navbar ul a{
  color: white;
  text-decoration: none;
} 
.total-screen{
  height: calc(100vh - 55px);
  align-items: center;
  padding-top: 30%;

}
.aside{
  float: left;
  height:200px;
  background-color:whitesmoke;
  color:black;
  position: static;
}