*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    box-sizing: border-box;
    font-family: arial;
  }
  .hide{
    display: none;
  }
body{
  background: url(http://s1.picswalls.com/wallpapers/2015/11/21/league-of-legends-high-definition_111244104_289.jpg);
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
.style-filter{
font-size: 20px; 
text-align:center;
font-style: italic;
color: brown;
}
.title{
font-size: 50px; 
text-align:center;
font-weight: bold;
color: aliceblue;
}
.champions{
    font-weight: bold;
    color: rgb(240, 235, 235);
    font-size: 25px;
    margin:0;
    padding:2%;
    background-color: #080808;
    overflow: scroll;
    height: calc(75vh);
}
.card{
  width: 25%;
  display: inline-block
}
.navbar{
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-flow: row wrap;
  background-color:#222;
  border-color:#080808;
  font-size: 25px;
  color:whitesmoke;
  height: 55px;
  position: fixed;
}
.navbar-inverse{
  background-color: black;
  position: sticky;

}
.navbar ul li{
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
 
.total-screen{
  height: 100vh;
  align-items: center;
  padding-top: 4%;
}
main{
  overflow: hidden

}
.nav-area{
  display: block;
  padding:5%;

}
.aside{
  float: left;  
  height: calc(75vh);
  width: 25%;
  padding:1%;
  background-color:whitesmoke;
  color:black;
  position: static;
}
.btn-nav{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.btn-nav:focus {outline:0;}
.head-nav{
align-items: flex-start;
padding: 0.5em;

}
.champion-img{
width: 100%;
}
.bg-main{
  background-color: rgb(41, 37, 37);
}
.number{
  width: 50px;
}