*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    box-sizing: border-box;
}
body{
  background: url(http://s1.picswalls.com/wallpapers/2015/11/21/league-of-legends-high-definition_111244104_289.jpg);
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
.function{
font-size: 20px; 
text-align:center;
font-style: italic;
color: brown;
}
.title{
font-size: 50px; 
text-align:center;
font-style: italic;
font-weight: bold;
color: aliceblue;
}
.champions{
    font-weight: bold;
    color: whitesmoke;
    font-size: 25px;
}